<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style type="text/css">
    * {
        box-sizing: border-box;
      }
      
      body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
      }
      
      /* Center website */
      .main {
        max-width: 1000px;
        margin: auto;
      }
      
      h1 {
        font-size: 50px;
        word-break: break-all;
      }
      
      .row {
        margin: 8px -16px;
      }
      
      /* Add padding BETWEEN each column (if you want) */
      .row,
      .row > .column {
        padding: 8px;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 33%;
      }
      
      /* Clear floats after rows */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Content */
      .content {
        background-color: white;
        padding: 10px;
      }

      .qtmpanel {
        background-color: lightgray;
        min-height: 600px;
        max-height: 600px;
        overflow: scroll;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 900px) {
        .column {
          width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
</style>

        <form action="submitnewproceduralist" method="POST">
                <h3>Proceduralist Details</h3>
                <br><br>
                <label class="control-label">Proceduralist Name</label>
                <input type="text" id="pid" style="width: 160px;" name="proceduralist">
                <label class="control-label">Proceduralist Clinic</label>
                <input type="text" id="pname" style="width: 360px;" name="clinic">
                <br><br><br>
                <button type="submit" style="float: right;" class="btn btn-theme">Submit</button>
        </form>
