<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<style type="text/css">
    * {
        box-sizing: border-box;
      }
      
      body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
      }
      
      /* Center website */
      .main {
        max-width: 1000px;
        margin: auto;
      }
      
      h1 {
        font-size: 50px;
        word-break: break-all;
      }
      
      .row {
        margin: 8px -16px;
      }
      
      /* Add padding BETWEEN each column (if you want) */
      .row,
      .row > .column {
        padding: 8px;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 33%;
      }
      
      /* Clear floats after rows */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Content */
      .content {
        background-color: white;
        padding: 10px;
      }

      .qtmpanel {
        background-color: lightgray;
        min-height: 600px;
        max-height: 600px;
        overflow: scroll;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 900px) {
        .column {
          width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
</style>

<div class="A4">
        <img style="float: left; margin: 0px 0px 0px 0px;" src="img/sdslogo.jpg"/>
        <img style="float: right; margin: 0px 0px 0px 0px;" src="img/idsmall.png"/>
        <br>
        <div style="text-align: center"><h2>Colonoscopy Report</h1></div>
        <br>
        <form action="submitnewprocedure" method="POST">
                <h3>Details</h3>
                <label class="control-label">Procedure Date</label>
                <input type="text" id="pdate" style="width: 160px;" name="pdate">
                <label class="control-label">Patient ID</label>
                <select class="js-example-basic-single" name="pid" id="patientidselectbox" style="width:160px">
                    <option>

                    </option>
                </select>
                <label class="control-label">Proceduralist</label>
                <select class="js-example-basic-single" name="proceduralist" id="proceduralistselectbox" style="width:160px">
                        <option>
                        
                            </option>
                </select>
                <br><br>
                <label class="control-label">Reason for procedure</label>
                <input type="text" name="reason" style="width: 500px; float: right;">
                <br>
                <br>
                <label class="control-label" rows="5" height =>Findings</label>
                <input type="text" name="findings" cols="40" rows="5" style="width: 500px; float: right;"></textarea>
                <br><br>
                <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" name="polyps" value="polyps"> Polyps
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" name="completecolon" value="completecolon"> Complete Colonoscopy Achieved
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" name="haemorrhoids" value="haemorrhoids"> Haemorrhoids
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" name="diverticulardisease" value="diverticulardisease"> Diverticular Disease
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" name="colitis" value="colitis"> Colitis
                        </label>
                    </label>
                    <br><br><br>
                    <canvas id="diagramcanvas" width="360" height="360" style="margin: 0px 0px 0px 140px"></canvas>
                    <input type="hidden" name="imgdata" id="imgdatainput" value="">
                    <br><br><br>
                    <label class="control-label">Follow up with doctor required:</label>
                    <label class="checkbox-inline">
                        <input type="radio" id="followupradio1" name="followupradio" value="yes"> Yes
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" id="followupradio2" name="followupradio" value="no"> No
                    </label>
                    <br>
                    <label class="control-label">If yes, details:</label>
                    <input type="text" style="width: 460px;" name="followupdetails">
                    <br><br><br>
                    <label class="control-label">Recommended timeframe for follow up colonoscopy:</label>
                    <input type="text" onclick="StartDate()" id="fdate" style="width: 160px;" name="fdate"><br>
                    <p>Or</p>
                    <input type="checkbox" id="inlineCheckbox2" name="followupdiscuss" value="followupdiscuss"> To be discussed at your follow up appointment
                    <br><br><br><br><br>
                    <p>Doctor signature:  ______________________________________</p>
                    <br><br><br>
                    
                    <button type="submit" style="float: right;" class="btn btn-theme">Submit</button>
                    
        </form>
        <button onclick="imgdata()" style="float: right;" class="btn btn-theme">img</button>
</div>

<div style="position:fixed; top: 10%; left: 30%" id="maingallerydiv">
    
    
</div>
</div>

<script>
    var curTime = new Date();
    $('#pdate').daterangepicker({
        "singleDatePicker": true,
        "timePicker": true,
        "startDate": curTime,
        "endDate": curTime,
        locale: {
            format: 'DD/MM/YYYY hh:mm A'
            }
    }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD-HH-MM') + ' to ' + end.format('YYYY-MM-DD-HH-MM') + ' (predefined range: ' + label + ')');
    });


    var followUpDateFieldEnabled = false;

    function StartDate(){
        if (followUpDateFieldEnabled == false){
            followUpDateFieldEnabled = true
            $('#fdate').daterangepicker({
                "singleDatePicker": true,
                "timePicker": true,
                "startDate": curTime,
                "endDate": curTime,
                locale: {
                    format: 'DD/MM/YYYY hh:mm A'
                    }
            }, function(start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD-HH-MM') + ' to ' + end.format('YYYY-MM-DD-HH-MM') + ' (predefined range: ' + label + ')');
            });
        }
    }
</script>

<script>
        var cols = ['filename'];
        var selectedImg;
        var imageBoxOpen;
        function OpenImageDialogueBox(img){
            if (imageBoxOpen) {return;}
            imageBoxOpen = true;
            if (img == 1){selectedImg = "imgbtn1"}
            if (img == 2){selectedImg = "imgbtn2"}
            fetch(APIURL + '/listimages')
            .then((resp) => resp.json())
            .then(function(data) {
                console.log(data);
                if (data.length > 0){
                    var mainPanel = document.createElement('div');
                    mainPanel.innerHTML = '<div class ="qtmpanel" id="mainrow"></div>'
                    document.getElementById('maingallerydiv').appendChild(mainPanel);
                    console.log(mainPanel);
                    data.forEach(element =>
                    {
                        var newDiv = document.createElement('div');
                        fileNameString = "'" + element + "'" // adds quotation marks so clicking on image gets a proper string
                        txt = '<div class="column"><div class="content"><img onclick="ChooseImage(this.src,' + fileNameString + ')" src="' + APIURL + '/imgsrv/' + element + '" alt="error" style="width:100%; height:225px"><h5>' + element +'</h75></div></div>';
                        newDiv.innerHTML = txt;
                        document.getElementById('mainrow').appendChild(newDiv);
                    });
                }
            });
        }



function ChooseImage(imgsrc, imgname){
    var imageToChange = document.getElementById(selectedImg);
    imageToChange.src = imgsrc;
    
    var myNode = document.getElementById("maingallerydiv");
    while (myNode.firstChild) {
    myNode.removeChild(myNode.firstChild);
    }
    imageBoxOpen = false;
    if (selectedImg == "imgbtn1"){
        document.getElementById('imgbox1').value = imgname;
    }
    if (selectedImg == "imgbtn2"){
        document.getElementById('imgbox2').value = imgname;
    }
}
</script>

<script>
        
//PATIENT ID SELECT BOX SETUP //////////////////////////////////
$('#patientidselectbox').select2({
    tags: true
});
fetch(APIURL + '/getpatients')
.then((resp) => resp.json())
.then(function(data) {
    data.forEach(element =>{
        var newOption = new Option(element.pid, element.pid, false, false);
        document.getElementById('patientidselectbox').appendChild(newOption);
    });
    
});
//PROCEDURALIST SELECT BOX SETUP //////////////////////////////////
$('#proceduralistselectbox').select2({
    tags: true
});
fetch(APIURL + '/getproceduralists')
.then((resp) => resp.json())
.then(function(data) {
    data.forEach(element =>{
        var newOption = new Option(element.proceduralist, element.proceduralist, false, false);
        document.getElementById('proceduralistselectbox').appendChild(newOption);
    });
    
});
</script>


<script>

        var canvas = document.getElementById("diagramcanvas");
        var context = canvas.getContext("2d");
        var clicking = false;

        var img = new Image();
        img.src="/img/diagram.png";
        img.onload=function(){
            context.drawImage(img, 0, 0,canvas.width,canvas.height);
        }
        
        window.addEventListener('mousemove', draw, false);
        window.addEventListener('mousedown', Clicking, false);
        window.addEventListener('mouseup', NotClicking, false);

        function imgdata(){
            //var imgD = context.getImageData(0,0,canvas.width,canvas.height)
            //console.log(imgD);
            var imgObj ={
                data: canvas.toDataURL()
            } 

            const options = {
                method: 'POST',
                body: JSON.stringify(imgObj),
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            fetch(APIURL + '/sendimagedata', options)
            .then(res => res.json())
            .then(res => console.log(res.msg));
        }

        function Clicking(e){
            clicking = true;
        }
        function NotClicking(e){
            var bla = 0;
            while(bla < 25000){
                bla++;
                if (bla == 24999){
                    clicking = false;
                    document.getElementById("imgdatainput").value = canvas.toDataURL();
                    console.log(document.getElementById("imgdatainput").value);
                }
            }
        }
        function draw(e) {
            if (clicking){
                var pos = getMousePos(canvas, e);
                posx = pos.x;
                posy = pos.y;
                context.fillStyle = "#000000";
                context.fillRect(posx, posy, 7, 7);
            }
        }
        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: (evt.clientX - rect.left) / (rect.right - rect.left) * canvas.width,
                y: (evt.clientY - rect.top) / (rect.bottom - rect.top) * canvas.height
            };
        }
</script>














<script>
    /*
    $(document).ready(function() {
    
    });
    TO LINK PATIENT NAME TO PATIENT ID
    $('#patientidselectbox').on('select2:select', function (e) { 
        console.log($('#patientidselectbox').select2('data'));
        var data = $('#patientidselectbox').select2('data');
        if ($('#patientnameselectbox').find("option[value='" + data.id + "']").length) {
            $('#patientnameselectbox').val(data.id).trigger('change');
        } else { 
            // Create a DOM Option and pre-select by default
            var newOption = new Option(data.text, data.id, true, true);
            $('#patientnameselectbox').append(newOption).trigger('change');
        } 
    });
    $('#patientnameselectbox').select2({
        tags: true
    });*/

</script>