/* #searchinput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  } */

  /* Create two equal columns that floats next to each other */
/* .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  } */
  
  /* Clear floats after the columns */
/*   .row:after {
    content: "";
    display: table;
    clear: both;
  } */


  .A4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    box-sizing: border-box;
  }

  .limited-table {
    border: 1px solid #ddd;
    overflow: auto;
  }

  .searcher-form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border:1px solid lightgray;
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }

  .searcher-input {
    flex-grow:2;
    border:none;
  }
  
  /* Three columns side by side */
.splash-column {
  float: left;
  width: 33%;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .splash-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.splash-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.splash-container {
  padding: 0 16px;
}

/* Clear floats */
.splash-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.splash-title {
  color: grey;
}

.splash-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.splash-button:hover {
  background-color: #555;
}

#img-container{
  display:inline-block;
  width:745px; 
  height:490px;
  margin: 0 auto; 
  background: lightgray; 
  position:relative; 
  border:0px solid lightgray; 
  border-radius: 0px; 
}
  /*box-shadow: 0 5px 50px #333}*/

#diagram-canvas{
  position: absolute;
  width: 745px;
  height: 490px;
  z-index:20;
}
#diagram-image{
  position: absolute;
  width: 745px;
  height: 490px;
  z-index:20;
}
/* 
@media print {
  body * {
    visibility: hidden;
  }
  #MainA4Sheet, #MainA4Sheet * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
} */


.imgselectpanel {
  background-color: white;
  border: #000;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  border-width: 2cm;
  width: 745px;
  min-height: 490px;
  max-height: 490px;
  overflow: scroll;
  position: absolute;
  z-index:30;
}