<div class="row">
    <div class="splash-column">
        <div class="splash-card">
        <img src="img/procedurecar.png" alt="procedure" style="width:100%;">
        <div class="splash-container">
            <br>
            <p><button onclick="window.location.href = 'viewprocedures';" class="splash-button">Procedures</button></p>
        </div>
        </div>
    </div>
    <div class="splash-column">
            <div class="splash-card">
            <img src="img/setup.png" alt="Patients" style="width:100%;">
            <div class="splash-container">
                <br>
                <p><button  onclick="window.location.href = '/reasons';" class="splash-button">Setup Reasons</button></p>
                <p><button  onclick="window.location.href = '/findings';" class="splash-button">Setup Findings</button></p>
            </div>
            </div>
        </div>
    <div class="splash-column">
            <div class="splash-card">
            <img src="img/switchuser2.png" alt="proceduralists" style="width:100%;">
            <div class="splash-container">
                <br>
                <p><button onclick="window.location.href = '/sign_out';" class="splash-button">Switch User</button></p>
            </div>
            </div>
        </div>
    
</div>
