<div class="row">
    <div class="splash-column">
        <div class="splash-card">
        <img src="img/proceduret.png" alt="procedure" style="width:100%;">
        <div class="splash-container">
            <br>
            <p><button onclick="window.location.href = 'newprocedure';" class="splash-button">New Procedure</button></p>
            <p><button onclick="window.location.href = 'viewprocedures';" class="splash-button">View Procedures</button></p>
        </div>
        </div>
    </div>
    <div class="splash-column">
            <div class="splash-card">
            <img src="img/patientst.png" alt="Patients" style="width:100%;">
            <div class="splash-container">
                <br>
                <p><button  onclick="window.location.href = 'newpatient';" class="splash-button">New Patient</button></p>
                <p><button  onclick="window.location.href = 'viewpatients';" class="splash-button">View Patients</button></p>
            </div>
            </div>
        </div>
    <div class="splash-column">
            <div class="splash-card">
            <img src="img/proceduralists3t.png" alt="proceduralists" style="width:100%;">
            <div class="splash-container">
                <br>
                <p><button onclick="window.location.href = 'newproceduralist';" class="splash-button">New Proceduralist</button></p>
                <p><button onclick="window.location.href = 'viewproceduralists';" class="splash-button">View Proceduralists</button></p>
            </div>
            </div>
        </div>
</div>
